# econsultancy AWS
export AWS_CREDENTIAL_FILE=$HOME/.aws-credentials-master

# Campfire deployments notifications
export CAMPFIRE_TOKEN=$(tail $HOME/.campfire_token)


# Add `~/bin` to `PATH`
export PATH="$HOME/bin:$PATH"

# Put bundle on the path
export PATH="./.bundle/bin:$PATH"

# Added by the Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

export PATH="/usr/local/bin:$PATH"

# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

